.custom-cursor {
    cursor: url("data:image/svg+xml,%3Csvg height='6' width='6' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23eee' stroke='%2000' stroke-width='4' r='4'/%3E%3C/svg%3E") 3 3, auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.rounded-custom-shape {

    clip-path: polygon(25% 00%, 100% 0%, 80% 100%, 5% 100%);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;

}

.rounded-custom-shape:hover {
    transform: scale(1.05);
}