@keyframes textShadowAnimation {
    0% {
        text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
    }

    25% {
        text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
    }

    50% {
        text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
    }

    75% {
        text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
    }

    100% {
        text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
    }

}

.icon-container:hover {
    animation: textShadowAnimation 2s infinite;
}