@keyframes textShadowAnimation {
    0% {
        text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
    }

    25% {
        text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
    }

    50% {
        text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
    }

    75% {
        text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
    }

    100% {
        text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
    }

    /* You can add any other styles you want */
}

/* Apply the animation to the icon-container on hover */
.icon-container:hover {
    animation: textShadowAnimation 2s infinite;
}

/* You can add other styles for the icon-container here */